@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
.custom-top-header{
    background-color: black;
    color: aliceblue;
}



/* footer */

@layer components{

footer p{
    @apply text-[10px];
    
}
footer h4{
    @apply text-sm;
}
}
*{
    font-family: "Poppins", sans-serif;
}
/* grid section */
.custom-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}
.custom-box1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.custom-box2 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.box2-minbox{
    background-color: #0D0D0D;
}
.custom-box3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* hide horizontal scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}


